<div class="row">
  <div class="footer_container">
    <div class="col-md-2"></div>
    <div class="col-md-8 footer">
      <div class="col-md-6">
        <h2>Contact</h2>
        <ul>
          <li>
            <h4><a href="mailto:{{ site.email }}">{{ site.email }}</a><h4>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Media</h2>
        <ul>
          <li>
            <a class="socicon socicon-instagram" href="https://www.instagram.com/phancis/"></a>
          </li>
          <li>
            <a class="socicon socicon-linkedin" href="https://www.linkedin.com/in/francis-phan-00388784"></a>
          </li>
          <li>
            <a class="socicon socicon-github" href="https://github.com/francisphan/"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
