<div class="content_background">
  <div class="black_overlay">
    <div class="name_portrait">
      <div class="portrait">
      </div>
      <h1 class="title"> Francis Phan</h1>
    </div>
    <div class="nav_menu">
      <ul>
        <li>
          <a href="#seoul"> Seoul </a>
        </li>
        <li>
          <a href="#patagonia"> Patagonia </a>
        </li>
        <li>
          <a href="#bolivia"> Bolivia </a>
        </li>
        <li>
          <a href="#iceland"> Iceland </a>
        </li>
        <li>
          <a href="#dolomites"> Dolomites </a>
        </li>
        <li>
          <a href="#lofoten"> Lofoten </a>
        </li>
        <li>
          <a href="#faroes"> Faroes </a>
        </li>
        <li>
          <a href="#india"> India </a>
        </li>
        <li>
          <a href="#yosemite"> Yosemite </a>
        </li>
      </ul>
    </div>
    <div class="footer_container">
      <div class="footer">
        <h4> Media </h4>
        <a class="socicon socicon-instagram" href="https://www.instagram.com/phancis/"></a>
        <a class="socicon socicon-linkedin" href="https://www.linkedin.com/in/francis-phan-00388784"></a>
        <a class="socicon socicon-github" href="https://github.com/francisphan/"></a>
      </div>
    </div>
  </div>
</div>
