<div class="content_background">
  <div class="black_overlay">
    <div class="name_portrait">
      <div class="portrait">
      </div>
      <h1 class="title"> Francis Phan</h1>
    </div>
    <div class="nav_menu">
      <ul>
        <li>
          <a> About Me </a>
        </li>
        <li>
          <a> Projects </a>
        </li>
        <li>
          <a> Photography </a>
        </li>
        <li>
          <a> Contact </a>
        </li>
      </ul>
    </div>
    <div class="footer_container">
      <div class="footer">
        <h4> Media </h4>
        <a class="socicon socicon-instagram" href="https://www.instagram.com/phancis/"></a>
        <a class="socicon socicon-flickr" href="https://www.flickr.com/photos/fxphancis/"></a>
        <a class="socicon socicon-tumblr" href="http://phancis.tumblr.com/"></a>
        <a class="socicon socicon-linkedin" href="https://www.linkedin.com/in/francis-phan-00388784"></a>
        <a class="socicon socicon-github" href="https://github.com/francisphan/"></a>
      </div>
    </div>
  </div>
</div>
