<div class="site_banner">
  <div class="black_overlay">
    <div class="banner_text">
      <h1> Capturing moments through </h1>
      <h1 class="alternate_whoami">
        <ul class="texts">
          <li>Landscapes</li>
          <li>Portraits</li>
          <li>Urban Scenes</li>
          <li>Architecture</li>
          <li>Nature</li>
          <li>Light & Shadow</li>
        </ul>
      </h1>
    </div>
  </div>
</div>

<script>
  $('.alternate_whoami').textillate({
    in: { effect: 'fadeIn'},
    out: { effect: 'fadeOut', sync: true},
    loop: true
  });
</script>
