<div class="site_banner">
  <div class="black_overlay">
    <div class="banner_text">
      <h1> Capturing moments in </h1>
      <h1 class="alternate_whoami">
        <ul class="texts">
          <li>Seoul</li>
          <li>Patagonia</li>
          <li>Bolivia</li>
          <li>Iceland</li>
          <li>Dolomites</li>
          <li>Lofoten</li>
          <li>Faroes</li>
          <li>India</li>
          <li>Yosemite</li>
        </ul>
      </h1>
    </div>
  </div>
</div>

<script>
  $('.alternate_whoami').textillate({
    in: { effect: 'fadeIn'},
    out: { effect: 'fadeOut', sync: true},
    loop: true
  });
</script>
